@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #FFFFFF;

  --main-color: #0A146E;
  --main-hover-color: #3B438B;

  --main-button-color: #1A86FA;
  --main-button-hover-color: #2697FF;
  --button-text-color: #F1FFFF;
  --button-text-size: 16px;

  --font-family: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}